[
  ;; ----- User type -----
  {:db/id #db/id[:db.part/db]
  :db/ident :user/name
   :db/valueType :db.type/string
   :db/cardinality :db.cardinality/one
   :db/doc "A users name"
   :db/unique :db.unique/identity
   :db.install/_attribute :db.part/db}

   {:db/id #db/id[:db.part/db]
   :db/ident :user/email
    :db/valueType :db.type/string
    :db/cardinality :db.cardinality/one
    :db/doc "A users email"
    :db/unique :db.unique/identity
    :db.install/_attribute :db.part/db}

    {:db/id #db/id[:db.part/db]
    :db/ident :user/password
     :db/valueType :db.type/string
     :db/cardinality :db.cardinality/one
     :db/doc "A users password"
     :db.install/_attribute :db.part/db}
     ]