<html>
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-type" name="viewport" />
    <title>
      Maps Example
    </title>
    <link href="css/normalize.css" rel="stylesheet" />
    <link href="css/foundation.min.css" rel="stylesheet" />
    <link href="css/foundation.css" rel="stylesheet" />
    <link href="css/application.css" rel="stylesheet" />
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet" />
    <script src="js/vendor/custom.modernizr.js" type="text/javascript">
    </script>
    <script src="http://codeorigin.jquery.com/jquery-2.0.3.min.js" type="text/javascript">
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp" type="text/javascript">
    </script>
  </head>
  <body>
    <h1 class="top-bar">
      <a class="name" href="/index.html">
        Maps Example
      </a>
    </h1>
    <div class="small-12 columns" id="map">
    </
      div>
    <script src="script.js" type="text/javascript">
    </script>
    <script type="text/javascript">
      log4jeo.googlemap.create_map();
    </script>
  </body>
</html>
